* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(13, 168, 155);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.plano-de-fundo {
    background-image: url(imagem/imagemsprint3.jpg);
    width: 100%;
    height: 118vh;
}

form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

form input, form textarea{
    padding: 20px;
    min-width: 300px;
    border: 1px solid rgb(6, 6, 6);
    border-radius: 10px;
}

form input:focus, form textarea:focus{
    background-color: rgb(216, 215, 212);
}

form input [type=submit]{
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}

form label {
    margin-left: 10px;
}

 footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(235, 222, 42);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: 24%; 
}

body {
    background: linear-gradient(90deg,#99a3a3 75%,#99a3a3 75%);
}

#form {
    position: relative;
    background: #1ba3a3;
    padding:50px;
    border-radius:10px;
    margin-top: 90px;
}